*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif !important;
  }
  html, body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif !important;
    height: 100%; 
  }
  #root{
    height: 100%; 
  }
  :root{
    --orange-default-color: rgb(255, 139, 57);
    --orange-hover-color: rgba(253, 106, 2, 1);

}
.orange{
  color: var(--orange-default-color);
}
button{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: none;
}

  .App{
    display: grid;
    grid-template-areas: 
    "header"
    "headerImg"
    "main"
    "footer";
  
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
  
    height: 100%;
  }
  
          /*scrollbar*/
          /* width */
          ::-webkit-scrollbar {
            width: 5px;
        }
  
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
  
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgb(177, 177, 177); 
        }
  
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }