.eventMap{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);
}
.eventMap .image{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.eventMap .image img{
    height: 80%;
    /* width: 70%; */
}