.tripsuggestions{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.likeIcon{
    height: 30px !important;
    border-radius: 0;
    margin: 0 !important;
    padding: 0 !important;
}
.tripsuggestions .likes div{
    display: flex;
    align-items: center;
}